.colorBeige{
    color: #F4DFB6;
}
.bgBeige{
    background-color: #F4DFB6;
}


.colorMaroon{
    color: #9A4444;
}

.bgMaroon{
    background-color: #9A4444;
}

.colorSage{
    color: #D6D46D;
}

.bgSage{
    background-color:#D6D46D;
}

.colorOrange{
    color: #DE8F5F;
}

.bgOrange{
    background-color: #DE8F5F;
}

.bgLightBlue{
    background-color: #e0fbfc ;
}

.colorLightBlue{
    color: #e0fbfc ;
}